<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>About Us</title>
        </head>
        <body>
            <header>
                <ul>
                    <li style="color: blue;">one</li>
                    <li style="color: blueviolet;">two</li>
                    <li>three</li>
                    <li>four </li>                    
                </ul>
                <img src="./images/eepga9tq61pd1.jpeg"/>
            </header>


            <footer>
                <a href="./B_card.html">Click here to go back</a>
            </footer>

        </body>
    </html>